body {
  font-family: Arial, Helvetica, sans-serif;
}

.heading-main-page {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

.container {
  display: inline;
  padding: 0;
}

.container ul {
  list-style: none;
  padding: 0 15%;
}

.container li {
  display: inline-block;
  width: 300px;
  height: 500px;
  background-color: #f5f5f5;
  border: 1px solid #050505;
  margin: 12px 16px;
}

.food-image img {
  height: 300px;
  width: 300px;
}

button {
  background-color: #145ac2;
  text-align: center;
  margin-left: 100px;
  border: none;
  margin-bottom: 0;
  font-weight: bold;
  padding: 12px;
}

button a {
  color: #f5f5f5;
  text-decoration: none;
}

/* Styles on reciepies */
.heading-recipes-page {
  text-align: center;
}

.article {
  margin: 100px;
  background-color: #f5f5f5;
}

.recipes-image {
  height: 400px;
  margin-left: 35%;
}

.description {
  margin: 100px;
}

h2,
ol,
li{
  margin: 24px;
  padding-bottom: 12px;
}