body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

a {
  color: #9a4e5d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-list {
  font-weight: 600;
}

/* Styles on recipes page */
h2 {
  font-size: 34px;
}

li,
p {
  line-height: 34px;
  font-size: 18px;
}
